@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SmellIt.Application.ViewModels.Admin.WebsiteTextsViewModel
@{
    ViewData["Title"] =WebsiteTexts.GetValue("WebsiteTexts");
}
<div class="card-content">
    <div class="card-title">
        @WebsiteTexts.GetValue("WebsiteTexts")

        @if (User.IsInRole("Admin"))
        {
            <a class="btn right" href="@Url.Action("Create")"> <i class="material-icons">add</i></a>
        }
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>@WebsiteTexts.GetValue("Text") (PL)</th>
                <th>@WebsiteTexts.GetValue("Text") (EN)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
            }
            @foreach (var item in Model.Items!)
            {
                <tr>
                    <td>@(item.TextPl.Length > 50 ? item.TextPl.Substring(0, 49) + "..." : item.TextPl)</td>
                    <td>@(item.TextEn.Length > 50 ? item.TextEn.Substring(0, 49) + "..." : item.TextEn)</td>
                    <td class="right">
                        <a href="#modalDescriptionPL_@index" class="btn modal-trigger"><i class="material-icons">more</i></a>
                        <div id="modalDescriptionPL_@index" class="modal">
                            <div class="modal-content">
                                <h4>@item.Key</h4>
                                <h5>@WebsiteTexts.GetValue("Text") (PL)</h5>
                                <p>@item.TextPl</p>
                                <h5>@WebsiteTexts.GetValue("Text") (EN)</h5>
                                <p>@item.TextEn</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn">@WebsiteTexts.GetValue("Close")</a>
                            </div>
                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="WebsiteTexts" asp-action="Edit" asp-route-encodedName="@item.EncodedName" class="btn"> <i class="material-icons">edit</i></a>
                            <a asp-controller="WebsiteTexts" asp-action="Delete" asp-route-encodedName="@item.EncodedName" class="btn"> <i class="material-icons">delete</i></a>
                        }
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>
<partial name="PartialViews/_Pagination" />