@model SmellIt.Application.ViewModels.Website.CartViewModel
@{
    ViewData["Title"] = "Cart";
}
<div class="page-wrapper">
    <div class="cart shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="block">
                        <div class="product-list">
                            <form method="post">
                                <table class="table">
                                    <tbody>
                                        @foreach (var item in Model.CartItems)
                                        {
                                            <tr>
                                                <td>
                                                    <img width="80" src="@item.ImageUrl" alt="@item.ImageAlt" />
                                                </td>
                                                <td>
                                                    <a asp-controller="Products" asp-action="Details" asp-route-encodedName="@item.ProductEncodedName">
                                                        @item.Name
                                                        <br />
                                                        @item.ProductInfo
                                                    </a>
                                                </td>
                                                <td>
                                                    @if (item.PromotionalPrice == null)
                                                    {
                                                        @item.Price.ToString("F2")
                                                    }
                                                    else
                                                    {
                                                        <del>@item.Price.ToString("F2") zł</del> @item.PromotionalPrice.Value.ToString("F2")
                                                    }
                                                    zł
                                                </td>
                                                <td>
                                                    @item.Quantity
                                                </td>
                                                <td>
                                                    @if (item.TotalPromotionalPrice == null)
                                                    {
                                                        @item.TotalPrice.ToString("F2")
                                                    }
                                                    else
                                                    {
                                                        <del>@item.TotalPrice.ToString("F2") zł</del> @item.TotalPromotionalPrice.Value.ToString("F2")
                                                    }
                                                    zł
                                                </td>
                                                <td>
                                                    <a class="product-remove" href="#!">x</a>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="4" class="text-right">
                                                @await WebsiteTexts.GetValueAsync("Total"):
                                            </td>
                                            <td colspan="2">
                                                <strong>@Model.TotalPrice zł</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="btn btn-main pull-right">@await WebsiteTexts.GetValueAsync("Checkout")</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>