@model SmellIt.Application.Features.FragranceCategories.DTOs.FragranceCategoryDto

<div class="input-field col s12">
    <label asp-for="NamePl">(PL) @language.GetValue("Name")</label>
    <textarea class="materialize-textarea" asp-for="NamePl"></textarea>
    <span asp-validation-for="NamePl" class="helper-text"></span>
</div>
<div class="input-field col s12">
    <label asp-for="NameEn">(EN) @language.GetValue("Name")</label>
    <textarea class="materialize-textarea" asp-for="NameEn"></textarea>
    <span asp-validation-for="NameEn" class="helper-text"></span>
</div>
<div class="input-field col s12">
    <label asp-for="DescriptionPl">(PL) @language.GetValue("Description")</label>
    <textarea class="materialize-textarea" asp-for="DescriptionPl"></textarea>
    <span asp-validation-for="DescriptionPl" class="helper-text"></span>
</div>
<div class="input-field col s12">
    <label asp-for="DescriptionEn">(EN) @language.GetValue("Description")</label>
    <textarea class="materialize-textarea" asp-for="DescriptionEn"></textarea>
    <span asp-validation-for="DescriptionEn" class="helper-text"></span>
</div>
<input type="submit" value="@language.GetValue("Save")" class="btn right" />"@language.GetValue("Save")" class="btn right" />