@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SmellIt.Application.Helpers
@using SmellIt.Application.SmellIt.Brands
@using SmellIt.Application.SmellIt.FragranceCategories
@using SmellIt.Application.SmellIt.Genders
@using SmellIt.Application.SmellIt.ProductCategories
@model SmellIt.Application.SmellIt.Products.Commands.CreateProduct.CreateProductCommand
@{
    var prefixGenerator = (ViewData["PrefixGenerator"] as IProductCategoryPrefixGenerator)!;
    ViewData["Title"] = language.GetValue("AddNewProduct");
    var requestCulture = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>()!;
    var currentCulture = requestCulture.RequestCulture.Culture.ToString();
}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card grey darken-3 white-text">
                <div class="card-content">
                    <div class="row">
                        <div class="card-title col s12">
                            <a class="btn left" asp-controller="Products" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
                            <p class="right">@language.GetValue("AddNewProduct")</p>
                        </div>
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="helper-text"></div>
                            <div class="input-field col s12">
                                <label asp-for="NamePl">(PL) @language.GetValue("Name")</label>
                                <textarea class="materialize-textarea" asp-for="NamePl"></textarea>
                                <span asp-validation-for="NamePl" class="helper-text"></span>
                            </div>
                            <div class="input-field col s12">
                                <label asp-for="NameEn">(EN) @language.GetValue("Name")</label>
                                <textarea class="materialize-textarea" asp-for="NameEn"></textarea>
                                <span asp-validation-for="NameEn" class="helper-text"></span>
                            </div>
                            <div class="file-field input-field col s12">
                                <div class="btn">
                                    <span>@language.GetValue("Files")</span>
                                    <input type="file" multiple asp-for="ImageFiles" accept="image/png, image/jpeg">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="@language.GetValue("UploadPhotos")">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field col s4">
                                    <label asp-for="PriceValue">@language.GetValue("Price")</label>
                                    <textarea class="materialize-textarea" asp-for="PriceValue"></textarea>
                                    <span asp-validation-for="PriceValue" class="helper-text"></span>
                                </div>
                                <div class="input-field col s4">
                                    <label asp-for="PriceStartDateTime">@language.GetValue("StartDate")</label>
                                    <input type="datetime-local" asp-for="PriceStartDateTime"></input>
                                    <span asp-validation-for="PriceStartDateTime" class="helper-text"></span>
                                </div>
                                <div class="input-field col s4">
                                    <label asp-for="PriceEndDateTime">@language.GetValue("EndDate")</label>
                                    <input type="datetime-local" asp-for="PriceEndDateTime"></input>
                                    <span asp-validation-for="PriceEndDateTime" class="helper-text"></span>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field col s4">
                                    <label asp-for="PromotionalPriceValue">@language.GetValue("PromotionalPrice")</label>
                                    <textarea class="materialize-textarea" asp-for="PromotionalPriceValue"></textarea>
                                    <span asp-validation-for="PromotionalPriceValue" class="helper-text"></span>
                                </div>
                                <div class="input-field col s4">
                                    <label asp-for="PromotionalPriceStartDateTime">@language.GetValue("StartDate")</label>
                                    <input type="datetime-local" asp-for="PromotionalPriceStartDateTime"></input>
                                    <span asp-validation-for="PromotionalPriceStartDateTime" class="helper-text"></span>
                                </div>
                                <div class="input-field col s4">
                                    <label asp-for="PromotionalPriceEndDateTime">@language.GetValue("EndDate")</label>
                                    <input type="datetime-local" asp-for="PromotionalPriceEndDateTime"></input>
                                    <span asp-validation-for="PromotionalPriceEndDateTime" class="helper-text"></span>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label asp-for="Capacity">@language.GetValue("Capacity")</label>
                                <textarea class="materialize-textarea" asp-for="Capacity"></textarea>
                                <span asp-validation-for="Capacity" class="helper-text"></span>
                            </div>
                            <div class="input-field col l2 m3 s4">
                                <label asp-for="ProductCategoryEncodedName">@language.GetValue("Category")</label>
                            </div>
                            <div class="input-field col l10 m9 s8">
                                <select id="parents" asp-for="ProductCategoryEncodedName">
                                    <option value="@null" selected></option>
                                    @foreach (var category in ViewData["ProductCategories"] as IEnumerable<ProductCategoryDto>)
                                    {
                                        <option value="@category.EncodedName">
                                            @prefixGenerator.GeneratePrefix(category)
                                            @(currentCulture == "pl-PL" ? category.NamePl : category.NameEn)
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="input-field col l2 m3 s4">
                                <label asp-for="BrandEncodedName">@language.GetValue("Brand")</label>
                            </div>
                            <div class="input-field col l10 m9 s8">
                                <select id="parents" asp-for="BrandEncodedName">
                                    <option value="@null" selected></option>
                                    @foreach (var brand in ViewData["Brands"] as IEnumerable<BrandDto>)
                                    {
                                        <option value="@brand.EncodedName">
                                            @brand.Name
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="input-field col l2 m3 s4">
                                <label asp-for="FragranceCategoryEncodedName">@language.GetValue("FragranceCategory")</label>
                            </div>
                            <div class="input-field col l10 m9 s8">
                                <select id="parents" asp-for="FragranceCategoryEncodedName">
                                    <option value="@null" selected></option>
                                    @foreach (var fragranceCategory in ViewData["FragranceCategories"] as IEnumerable<FragranceCategoryDto>)
                                    {
                                        <option value="@fragranceCategory.EncodedName">
                                            @(currentCulture == "pl-PL" ? fragranceCategory.NamePl : fragranceCategory.NameEn)
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="input-field col l2 m3 s4">
                                <label asp-for="GenderId">@language.GetValue("Gender")</label>
                            </div>
                            <div class="input-field col l10 m9 s8">
                                <select id="parents" asp-for="GenderId">
                                    <option value="@null" selected></option>
                                    @foreach (var gender in ViewData["Genders"] as IEnumerable<GenderDto>)
                                    {
                                        <option value="@gender.Id">
                                            @(currentCulture == "pl-PL" ? gender.NamePl : gender.NameEn)
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <label asp-for="DescriptionPl">(PL) @language.GetValue("Description")</label>
                                <textarea class="materialize-textarea" asp-for="DescriptionPl"></textarea>
                                <span asp-validation-for="DescriptionPl" class="helper-text"></span>
                            </div>
                            <div class="input-field col s12">
                                <label asp-for="DescriptionEn">(EN) @language.GetValue("Description")</label>
                                <textarea class="materialize-textarea" asp-for="DescriptionEn"></textarea>
                                <span asp-validation-for="DescriptionEn" class="helper-text"></span>
                            </div>

                            <input type="submit" value="@language.GetValue("Save")" class="btn right" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}