@{
    ViewData["Title"] = language.GetValue("Products");
}
<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card grey darken-3 white-text">
                <div class="card-content">
                    <div class="card-title">
                        @language.GetValue("Products")
                        <a class="btn waves-effect waves-light btn modal-trigger right" href="#modal1"><i class="material-icons">add</i></a>
                    </div>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@language.GetValue("Name")</th>
                                <th><a class="btn" href="@Url.Action("Index", "Brands")">@language.GetValue("Brand")</a></th>
                                <th><a class="btn" href="@Url.Action("Index", "Categories")">@language.GetValue("Category")</a></th>
                                <th><a class="btn" href="@Url.Action("Index", "FragranceCategories")">@language.GetValue("FragranceCategory")</a></th>
                                <th>@language.GetValue("Gender")</th>
                                <th>@language.GetValue("Price")</th>
                                <th>@language.GetValue("DateCreated")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img class="small-img" src="~/images/products/smell-it/dyfuzor-smell-it1.jpg"></td>
                                <td>@LanguageFromDb.GetValue("SmellItDiffuser")</td>
                                <td>@LanguageFromDb.GetValue("SmellIt")</td>
                                <td>@LanguageFromDb.GetValue("Diffusers")</td>
                                <td></td>
                                <td></td>
                                <td>899 zł</td>
                                <td>27.03.2023 </td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="small-img" src="~/images/products/perfumes/men/Dior Savuage/dior-savuage1.png"></td>
                                <td>@LanguageFromDb.GetValue("Sauvage")</td>
                                <td>@LanguageFromDb.GetValue("Dior")</td>
                                <td>@LanguageFromDb.GetValue("Fragrance")</td>
                                <td>@LanguageFromDb.GetValue("Aromatic")</td>
                                <td>@LanguageFromDb.GetValue("Men")</td>
                                <td>502 zł</td>
                                <td>27.03.2023 </td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="small-img" src="~/images/products/perfumes/women/YSL Black Opium/ysl-black-opium1.png"></td>
                                <td>@LanguageFromDb.GetValue("BlackOpium")</td>
                                <td>@LanguageFromDb.GetValue("YvesSaintLaurent")</td>
                                <td>@LanguageFromDb.GetValue("Fragrance")</td>
                                <td></td>
                                <td></td>
                                <td>448 zł</td>
                                <td>27.03.2023 </td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="small-img" src="~/images/products/perfumes/women/Giorgio Armani Si/armani-si1.png"></td>
                                <td>@LanguageFromDb.GetValue("Si")</td>
                                <td>@LanguageFromDb.GetValue("GiorgioArmani")</td>
                                <td>@LanguageFromDb.GetValue("Fragrance")</td>
                                <td></td>
                                <td></td>
                                <td>342 zł</td>
                                <td>27.03.2023 </td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" class="purple-text">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        <li class="active purple lighten-1">
                            <a href="#" class="white-text center">
                                1
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                2
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                3
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                4
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content" style="height: 100%;">
        <h4>@language.GetValue("AddNewProduct")</h4>
        <form>

            <div class="input-field">
                <label for="title">@language.GetValue("Name")</label>
                <input type="text" id="title" />
            </div>
            <div class="input-field">
                <input type="text" list="categories" />
                <datalist id="categories">
                    <option value="@language.GetValue("Devices")" />
                    <option value="@language.GetValue("Fragrance")" />
                    <option value="@language.GetValue("HomeFragrance")" />
                    <option value="@language.GetValue("Others")" />
                </datalist>
            </div>
            <div class="input-field">
                <label for="category">@language.GetValue("Price") (zł)</label>
                <input type="number" id="price" />
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>@language.GetValue("Files")</span>
                    <input type="file" multiple accept="image/png, image/jpeg">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="@language.GetValue("UploadPhotos")">
                </div>
            </div>
            <div class="input-field">
                <textarea id="description" class="materialize-textarea"></textarea>
                <label for="description">@language.GetValue("Description")</label>
            </div>
        </form>
    </div>
    <div class="modal-footer grey darken-2">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">@language.GetValue("Add")</a>
    </div>
</div>