@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SmellIt.Application.ViewModels.Admin.SocialSitesViewModel
@{
    ViewData["Title"] = WebsiteTexts.GetValue("SocialSites");
}
<div class="card-content">
    <div class="card-title">
        @WebsiteTexts.GetValue("SocialSites")
        @if (User.IsInRole("Admin"))
        {
            <a class="btn right" href="@Url.Action("Create")"> <i class="material-icons">add</i></a>
        }
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th class="center-align">Link</th>
                <th class="center-align">@WebsiteTexts.GetValue("Type")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
            }
            @foreach (var item in Model.Items!)
            {
                var link = "";
                link = item.Link.Length > 80 ? item.Link.Substring(0, 80) + "..." : item.Link;
                <tr>
                    <td class="center-align">@link</td>
                    <td> class="center-align"@item.Type</td>
                    <td class="right">
                        <a href="#modalDescriptionPL_@index" class="btn modal-trigger"><i class="material-icons">more</i></a>
                        <div id="modalDescriptionPL_@index" class="modal">
                            <div class="modal-content">
                                <h4>@item.Type</h4>
                                <h5>Link</h5>
                                <p>@item.Link</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn">@WebsiteTexts.GetValue("Close")</a>
                            </div>
                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="SocialSites" asp-action="Edit" asp-route-encodedName="@item.EncodedName" class="btn"> <i class="material-icons">edit</i></a>
                            <a asp-controller="SocialSites" asp-action="Delete" asp-route-encodedName="@item.EncodedName" class="btn"> <i class="material-icons">delete</i></a>
                        }
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>
<partial name="PartialViews/_Pagination" />