@model IEnumerable<SmellIt.Application.SmellIt.Products.WebsiteProductDto>
@{
    ViewData["Title"] = @WebsiteTexts.GetValue("Products");
    var stringQuery = Context.Request.Query;
    var isNewestSelected = stringQuery["sortType"] == SortType.Newest.ToString();
    var isOldestSelected = stringQuery["sortType"] == SortType.Oldest.ToString();
    var isPriceAscendingSelected = stringQuery["sortType"] == SortType.PriceAscending.ToString();
    var isPriceDescendingSelected = stringQuery["sortType"] == SortType.PriceDescending.ToString();
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">@WebsiteTexts.GetValue("Products")</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h4 class="widget-title">@WebsiteTexts.GetValue("SortBy")</h4>
                    <form method="get" id="sortForm">
                        <select class="form-control" name="sortType" onchange="document.getElementById('sortForm').submit();">
                            <option value="@SortType.Newest" selected="@isNewestSelected">@WebsiteTexts.GetValue("Newest")</option>
                            <option value="@SortType.Oldest" selected="@isOldestSelected">@WebsiteTexts.GetValue("Oldest")</option>
                            <option value="@SortType.PriceAscending" selected="@isPriceAscendingSelected">@WebsiteTexts.GetValue("PriceAscending")</option>
                            <option value="@SortType.PriceDescending" selected="@isPriceDescendingSelected">@WebsiteTexts.GetValue("PriceDescending")</option>
                        </select>
                    </form>
                </div>
                <div class="widget product-category">
                    <h4 class="widget-title">@WebsiteTexts.GetValue("Filters")</h4>
                    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @WebsiteTexts.GetValue("Gender")
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse @(stringQuery.Keys.Contains("gender") ? "in":"")" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("Genders")
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        @WebsiteTexts.GetValue("Brand")
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse @(stringQuery.Keys.Contains("brand") ? "in":"")" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("Brands")
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        @WebsiteTexts.GetValue("FragranceCategory")
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse @(stringQuery.Keys.Contains("fragranceCategory") ? "in":"")" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("FragranceCategories")
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-main btn-medium center-align" asp-all-route-data="null">@WebsiteTexts.GetValue("ClearAll")</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    @await Html.PartialAsync("Products", Model)
                </div>
            </div>

        </div>
    </div>
</section>