@{
    ViewData["Title"] = language.GetValue("Categories");
}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card grey darken-3 white-text">
                <div class="card-content">
                    <div class="card-title">
                        @language.GetValue("Categories")
                        <a class="btn waves-effect waves-light btn modal-trigger right" href="#modal1"> <i class="material-icons">add</i></a>
                    </div>

                    <table class="striped">
                        <thead>
                            <tr>
                                <th>@language.GetValue("Name")</th>
                                <th>@language.GetValue("ParentCategory")</th>
                                <th>@language.GetValue("DateCreated")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@language.GetValue("Devices")</td>
                                <td></td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>@language.GetValue("Diffusers")</td>
                                <td>@language.GetValue("Devices")</td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>@language.GetValue("Fresheners")</td>
                                <td>@language.GetValue("Devices")</td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>@language.GetValue("Women")</td>
                                <td>@language.GetValue("Fragrance")</td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>@language.GetValue("Men")</td>
                                <td>@language.GetValue("Fragrance")</td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>@language.GetValue("Unisex")</td>
                                <td>@language.GetValue("Fragrance")</td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>@language.GetValue("HomeFragrance")</td>
                                <td></td>
                                <td>27.03.2023</td>
                                <td class="right">
                                    <a href="#" class="btn"> <i class="material-icons">edit</i></a>
                                    <a href="#" class="btn"> <i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" class="purple-text">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        <li class="active purple lighten-1">
                            <a href="#" class="white-text center">
                                1
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                2
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                3
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                4
                            </a>
                        </li>
                        <li class="waves-effect">
                            <a href="#" class="purple-text">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>@language.GetValue("AddNewCategory")</h4>
        <form>
            <div class="input-field">
                <label for="title">@language.GetValue("Title")</label>
                <input type="text" id="title" />
            </div>
            <div class="input-field">
                <select id="category">
                    <option value="" disabled="disabled" selected>@language.GetValue("SelectCategory")</option>
                    <option value="1">@language.GetValue("Devices")</option>
                    <option value="2">@language.GetValue("Fragrance")</option>
                    <option value="3">@language.GetValue("HomeFragrance")</option>
                    <option value="4">@language.GetValue("Others")</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer grey darken-2">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">@language.GetValue("Add")</a>
    </div>
</div>