@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SmellIt.Application.Features.Products.DTOs.WebsiteProductDto>
@foreach (var item in Model)
{
    <div class="col-xs-4">
        <div class="product-item">
            <a asp-controller="Products" asp-action="Details" asp-route-encodedName="@item.EncodedName">
                <img class="img-responsive" src="@(item.ProductImages?.FirstOrDefault()?.ImageUrl ?? "/images/shop/products/product-default.png")" alt="@item.ProductImages?.FirstOrDefault()?.ImageAlt" />

                <div class="product-content">
                    <h4>
                        @item.Brand?.Name<br />
                        <strong>@item.Name</strong>
                    </h4>
                    <p class="price">@Html.Raw(item.PromotionalPrice == null ? item.Price.Value : "<del>"+item.Price.Value+"</del> "+ item.PromotionalPrice.Value) zł</p>
                </div>
            </a>
        </div>
    </div>
}