@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SmellIt.Application.Features.ProductCategories.DTOs.WebsiteProductCategoryDto>
@{
    int i = 0;
    bool isSecond = false;
}

<li class="dropdown dropdown-slide">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
       role="button" aria-haspopup="true" aria-expanded="false">
        @await WebsiteTexts.GetValueAsync("Products") <span class="tf-ion-ios-arrow-down"></span>
    </a>
    <div class="dropdown-menu">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-sm-12">
                <ul>
                    <li><a class="text-center" href="/products">@await WebsiteTexts.GetValueAsync("AllProducts")</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-sm-3">
                <ul>
                    @foreach (var item in Model)
                    {
                        if (item.ParentCategory == null)
                        {
                            if (i != 0)
                            {
                                @Html.Raw(isSecond ? "</ul></div></div><div class=\"row\"><div class=\"col-lg-6 col-md-6 mb-sm-3\"><ul>" : "</ul></div><div class=\"col-lg-6 col-md-6 mb-sm-3\"><ul>")
                                isSecond = !isSecond;
                            }
                            <li class="dropdown-header">@item.Name</li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Products" asp-action="Index" asp-route-category="@item.EncodedName">@await WebsiteTexts.GetValueAsync("All")</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Products" asp-action="Index" asp-route-category="@item.EncodedName">@item.Name</a></li>
                        }
                        i++;
                    }
                </ul>
            </div>
        </div>
    </div>
</li>