@inject LanguageService Language
@inject LanguageFromDbService LanguageFromDb

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Smell it Perfumery">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Jakub Jarzmik">
    <meta name="generator" content="Jakub Jarzmik Smell it v1.0">

    <title>@ViewData["Title"] - Smell it</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/plugins/themefisher-font/style.css">
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body id="body">
    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="contact-number">
                        <i class="tf-ion-ios-telephone"></i>
                        <span>+48 777 321 321</span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="logo text-center">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/images/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <ul class="top-menu text-right list-inline">
                        <li class="dropdown cart-nav dropdown-slide">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <i class="tf-ion-android-cart"></i>@*@Language.GetValue("Cart")*@ @LanguageFromDb.GetValue("Cart")
                            </a>
                            <div class="dropdown-menu cart-dropdown">
                                <div class="media">
                                    <a class="pull-left" href="#!">
                                        <img class="media-object" src="~/images/shop/products/smell-it/dyfuzor-smell-it1.jpg" alt="image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#!">@Language.GetValue("SmellItDiffuser")</a></h4>
                                        <div class="cart-price">
                                            <span>1 x</span>
                                            <span>799.00</span>
                                        </div>
                                        <h5><strong>799 zł</strong></h5>
                                    </div>
                                    <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="~/images/shop/products/perfumes/men/Dior Savuage/dior-savuage1.png" alt="image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#!">Dior Savuage</a></h4>
                                        <div class="cart-price">
                                            <span>1 x</span>
                                            <span>502.00</span>
                                        </div>
                                        <h5><strong>502 zł</strong></h5>
                                    </div>
                                    <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                                </div>

                                <div class="cart-summary">
                                    <span>@Language.GetValue("Total")</span>
                                    <span class="total-price">1301.00 zł</span>
                                </div>
                                <ul class="text-center cart-buttons">
                                    <li><a href="cart.html" class="btn btn-small">@Language.GetValue("Cart")</a></li>
                                    <li><a href="checkout.html" class="btn btn-small btn-solid-border">@Language.GetValue("Checkout")</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown search dropdown-slide">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <i class="tf-ion-ios-search-strong"></i> @Language.GetValue("Search")
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form action="post"><input type="search" class="form-control" placeholder="@Language.GetValue("Search")..."></form>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-slide">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <span class="flag-icon flag-icon-@Language.GetValue("LanguageForIcon")"></span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li>
                                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pl-PL" class="nav-link"><span class="flag-icon flag-icon-pl"></span> Polski</a>
                                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-GB" class="nav-link"><span class="flag-icon flag-icon-gb"></span> English</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="menu">
        <nav class="navbar navigation">
            <div class="container">
                <div class="navbar-header">
                    <h2 class="menu-title">Menu</h2>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="navbar-collapse collapse text-center">
                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="@Url.Action("Index", "Home")">@Language.GetValue("Home")</a>
                        </li>
                        <li class="dropdown dropdown-slide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                @Language.GetValue("Products") <span class="tf-ion-ios-arrow-down"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">@Language.GetValue("Devices")</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("SmellItDiffuser")</a></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("Diffusers")</a></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("Fresheners")</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">@Language.GetValue("Fragrance")</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("Women")</a></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("Men")</a></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("Unisex")</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">@Language.GetValue("HomeFragrance")</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("ScentedCandles")</a></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("EssentialOils")</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">@Language.GetValue("Others")</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="@Url.Action("Products", "Home")">@Language.GetValue("CarFresheners")</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown ">
                            <a href="@Url.Action("Contact", "Home")">@Language.GetValue("Contact")</a>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="#">@Language.GetValue("AboutUs")</a>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="#"><b>@Language.GetValue("Login")</b></a>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="#">@Language.GetValue("SignIn")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    @RenderBody()

    <section class="call-to-action bg-gray section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">
                        <h2>@Language.GetValue("SubscribeToNewsletter")</h2>
                        <p>@Language.GetValue("SubscribeToNewsletterDesc")</p>
                    </div>
                    <div class="col-lg-6 col-md-offset-3">
                        <div class="input-group subscription-form">
                            <input type="text" class="form-control" placeholder="@Language.GetValue("EnterEmail")">
                            <span class="input-group-btn">
                                <button class="btn btn-main" type="button">@Language.GetValue("SubscribeNow")</button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </section>

    <footer class="footer section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-media">
                        <li>
                            <a href="https://www.facebook.com/jakubjarzmik00">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/jjerzu">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/jakub-jarzmik">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/jakubjarzmik">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-menu text-uppercase">
                        <li>
                            <a href="@Url.Action("Contact", "Home")">@Language.GetValue("Contact")</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Products", "Home")">@Language.GetValue("Products")</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Privacy", "Home")">@Language.GetValue("PrivacyPolicy")</a>
                        </li>
                    </ul>
                    <p class="copyright-text">Copyright &copy;2023, Designed &amp; Developed by <a href="https://www.linkedin.com/in/jakub-jarzmik">Jakub Jarzmik</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/instafeed/instafeed.min.js"></script>
    <script src="~/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="~/plugins/syo-timer/build/jquery.syotimer.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/slick/slick-animation.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="~/plugins/google-map/gmap.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
