<!DOCTYPE html>
<html lang="pl">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Smell it | Poczuj każdy zapach</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Jakub Jarzmik">
    <meta name="generator" content="Jakub Jarzmik Smell it v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="smell it" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="~/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Animate css -->
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body id="body">

    <!-- Start Top Header Bar -->
    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <div class="contact-number">
                        <i class="tf-ion-ios-telephone"></i>
                        <span>+48 777 321 321</span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Site Logo -->
                    <div class="logo text-center">
                        <a href="@Url.Action("Index", "Home")">
                            <!-- replace logo here -->
                            <img src="~/images/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Cart -->
                    <ul class="top-menu text-right list-inline">
                        <li class="dropdown cart-nav dropdown-slide">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <i class="tf-ion-android-cart"></i>Koszyk
                            </a>
                            <div class="dropdown-menu cart-dropdown">
                                <!-- Cart Item -->
                                <div class="media">
                                    <a class="pull-left" href="#!">
                                        <img class="media-object" src="~/images/shop/cart/cart-1.jpg" alt="image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
                                        <div class="cart-price">
                                            <span>1 x</span>
                                            <span>1250.00</span>
                                        </div>
                                        <h5><strong>1200 zł</strong></h5>
                                    </div>
                                    <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                                </div><!-- / Cart Item -->
                                <!-- Cart Item -->
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="~/images/shop/cart/cart-2.jpg" alt="image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#!">Ladies Bag</a></h4>
                                        <div class="cart-price">
                                            <span>1 x</span>
                                            <span>1250.00</span>
                                        </div>
                                        <h5><strong>1200 zł</strong></h5>
                                    </div>
                                    <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                                </div><!-- / Cart Item -->

                                <div class="cart-summary">
                                    <span>Razem</span>
                                    <span class="total-price">1799.00 zł</span>
                                </div>
                                <ul class="text-center cart-buttons">
                                    <li><a href="cart.html" class="btn btn-small">Koszyk</a></li>
                                    <li><a href="checkout.html" class="btn btn-small btn-solid-border">Realizuj</a></li>
                                </ul>
                            </div>

                        </li><!-- / Cart -->
                        <!-- Search -->
                        <li class="dropdown search dropdown-slide">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <i class="tf-ion-ios-search-strong"></i> Szukaj
                            </a>
                            <ul class="dropdown-menu search-dropdown">
                                <li>
                                    <form action="post"><input type="search" class="form-control" placeholder="Szukaj..."></form>
                                </li>
                            </ul>
                        </li><!-- / Search -->
                        <!-- Languages -->
                        <li class="commonSelect">
                            <select class="form-control">
                                <option>PL</option>
                                <option>EN</option>
                            </select>
                        </li><!-- / Languages -->

                    </ul><!-- / .nav .navbar-nav .navbar-right -->
                </div>
            </div>
        </div>
    </section><!-- End Top Header Bar -->
    <!-- Main Menu Section -->
    <section class="menu">
        <nav class="navbar navigation">
            <div class="container">
                <div class="navbar-header">
                    <h2 class="menu-title">Menu</h2>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div><!-- / .navbar-header -->
                <!-- Navbar Links -->
                <div id="navbar" class="navbar-collapse collapse text-center">
                    <ul class="nav navbar-nav">

                        <!-- Home -->
                        <li class="dropdown ">
                            <a href="@Url.Action("Index", "Home")">Strona główna</a>
                        </li><!-- / Home -->
                        <!-- Elements -->
                        <li class="dropdown dropdown-slide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Produkty <span class="tf-ion-ios-arrow-down"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Urządzenia</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Dyfuzory Smell it</a></li>
                                            <li><a href="#">Dyfuzory na olejki</a></li>
                                            <li><a href="#">Odświeżacze powietrza</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Perfumy</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Damskie</a></li>
                                            <li><a href="#">Męskie</a></li>
                                            <li><a href="#">Unisex</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Zapachy do domu</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Świece zapachowe</a></li>
                                            <li><a href="#">Olejki eteryczne</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-sm-3">
                                        <ul>
                                            <li class="dropdown-header">Inne</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Zapachy do samochodu</a></li>
                                        </ul>
                                    </div>
                                </div><!-- / .row -->
                            </div><!-- / .dropdown-menu -->
                        </li><!-- / Elements -->

                        <li class="dropdown ">
                            <a href="@Url.Action("Contact", "Home")">Kontakt</a>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="#">O nas</a>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="#"><b>Zaloguj</b></a>
                        </li>
                        
                        <li class="dropdown ">
                            <a href="#">Zarejestruj</a>
                        </li>
                    </ul><!-- / .nav .navbar-nav -->

                </div>
                <!--/.navbar-collapse -->
            </div><!-- / .container -->
        </nav>
    </section>

    @RenderBody()

    <!--
    Start Call To Action
    ==================================== -->
    <section class="call-to-action bg-gray section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">
                        <h2>Zapisz się do newsletter'a</h2>
                        <p>Jako pierwszy dowiesz się o najnowszych promocjach i produktach</p>
                    </div>
                    <div class="col-lg-6 col-md-offset-3">
                        <div class="input-group subscription-form">
                            <input type="text" class="form-control" placeholder="Podaj swój adres e-mail">
                            <span class="input-group-btn">
                                <button class="btn btn-main" type="button">Subskrybuj!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->

                </div>
            </div> 		<!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    @*	<section class="section instagram-feed">
    <div class="container">
    <div class="row">
    <div class="title">
    <h2>View us on instagram</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
    </div>
    </div>
    </div>
    </section>

    *@
    <footer class="footer section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-media">
                        <li>
                            <a href="https://www.facebook.com/jakubjarzmik00">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/jjerzu">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/jakub-jarzmik">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/jakubjarzmik">
                                <i class="tf-ion-social-github"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-menu text-uppercase">
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Kontakt</a>
                        </li>
                        <li>
                            <a href="#">PRODUKTY</a>
                        </li>
                        <li>
                            @Html.ActionLink("POLITYKA PRYWATNOŚCI", "Privacy","Home")
                        </li>
                    </ul>
                    <p class="copyright-text">Copyright &copy;2023, Designed &amp; Developed by <a href="https://www.linkedin.com/in/jakub-jarzmik">Jakub Jarzmik</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="~/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="~/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="~/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="~/plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="~/js/script.js"></script>



</body>
</html>
