@model IEnumerable<SmellIt.Application.SmellIt.Products.ProductDto>
@{
    var requestCulture = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>()!;
    var currentCulture = requestCulture.RequestCulture.Culture.ToString();
}
@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="product-item">
            <div class="product-thumb">
                <img class="img-responsive" src="@item.ProductImages?.FirstOrDefault()?.ImageUrl" alt="@item.ProductImages?.FirstOrDefault()?.ImageAlt" />
                <div class="preview-meta">
                    <ul>
                        <li>
                            <span data-toggle="modal" data-target="#product-modal-@item.EncodedName">
                                <i class="tf-ion-android-search"></i>
                            </span>
                        </li>
                        <li>
                            <a href="/products/details/@item.EncodedName"><i class="tf-ion-android-list"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="tf-ion-android-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">

                <a href="#">
                    <h4>
                        @item.Brand?.Name<br />
                        <strong>@(currentCulture == "en-GB" ? @item.NameEn : @item.NamePl)</strong>
                    </h4>
                </a>

                <p class="price">@Html.Raw(item.PromotionalPrice == null ? item.Price.Value : "<del>"+item.Price.Value+"</del> "+ item.PromotionalPrice.Value) zł</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal product-modal fade white-text" id="product-modal-@item.EncodedName">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="modal-image">
                                <img class="img-responsive" src="@item.ProductImages?.FirstOrDefault()?.ImageUrl" alt="@item.ProductImages?.FirstOrDefault()?.ImageAlt" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="product-short-details">
                                <h2 class="product-title">@(item.Brand != null ? item.Brand.Name + " - " : "")@(currentCulture == "en-GB" ? @item.NameEn : @item.NamePl)</h2>
                                @if (item.PromotionalPrice == null)
                                {
                                    <p class="product-price">@item.Price.Value zł</p>
                                }
                                else
                                {
                                    <p class="product-price"><del>@item.Price.Value</del> @item.PromotionalPrice.Value zł</p>
                                    <p>@WebsiteTexts.GetValue("Last30DaysLowestPrice"): @item.Last30DaysLowestPrice zł</p>
                                }
                                <p class="product-short-description">
                                    @(currentCulture == "en-GB" ? @item.DescriptionEn : @item.DescriptionPl)
                                </p>
                                <a href="cart.html" class="btn btn-main">@WebsiteTexts.GetValue("AddToCart")</a>
                                <a href="/products/details/@item.EncodedName" class="btn btn-transparent">@WebsiteTexts.GetValue("ViewProductDetails")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}