<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <title>@ViewData["Title"] - Smell it Admin</title>
    <link type="text/css"
          rel="stylesheet"
          href="~/lib/materialize/css/materialize.min.css"
          media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey darken-2">
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="#" class="left hide-on-med-and-down">
                    <div class="valign-wrapper">
                        <img src="~/images/av.jpg" alt="" class="circle menu-avatar">
                        John Doe
                    </div>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="@Url.Action("Index", "Home")">@language.GetValue("Dashboard")</a></li>
                    <li><a href="">@language.GetValue("Orders")</a></li>
                    <li><a href="@Url.Action("Index", "Products")">@language.GetValue("Products")</a></li>
                    <li><a href="@Url.Action("Index", "Categories")">@language.GetValue("Categories")</a></li>
                    <li><a href="">@language.GetValue("Users")</a></li>
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown1">@language.GetValue("Language")<i class="material-icons right">arrow_drop_down</i></a>
                        <ul id="dropdown1" class="dropdown-content grey darken-2">
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pl-PL" class="white-text"> Polski</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-GB" class="white-text"> English</a>
                            </li>
                        </ul>
                    </li>

                </ul>


                <a href="@Url.Action("Index", "Home")" class="brand-logo center"><img src="~/images/logo.png" /></a>
            </div>
        </nav>
    </div>
    <ul id="mobile-demo" class="sidenav grey darken-4">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="~/images/ocean.jpg" alt="" />
                </div>
                <a href="#">
                    <img src="~/images/person1.jpg" alt="" class="circle" />
                </a>
                <a href="#">
                    <span class="name white-text">John Doe</span>
                </a>
                <a href="#">
                    <span class="email white-text">jdoe@email.com</span>
                </a>
            </div>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")" class="white-text">@language.GetValue("Dashboard")</a>
        </li>
        <li><a href="@Url.Action("Index", "Products")" class="white-text">@language.GetValue("Products")</a></li>
        <li><a href="@Url.Action("Index", "Categories")" class="white-text">@language.GetValue("Categories")</a></li>
        <li><a href="" class="white-text">@language.GetValue("Clients")</a></li>
        <li>
            <a class="dropdown-trigger white-text" href="#" data-target="dropdown2">@language.GetValue("Language")<i class="material-icons white-text right">arrow_drop_down</i></a>
            <ul id="dropdown2" class="dropdown-content grey darken-2">
                <li>
                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pl-PL" class="white-text"> Polski</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-GB" class="white-text"> English</a>
                </li>
            </ul>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="" class="waves-effect white-text">@language.GetValue("Logout")</a></li>
    </ul>

    <main class="section">
        @RenderBody()
    </main>

    <footer class="page-footer section grey darken-4 white-text center ">
        <p>Smell it Admin &copy; 2023</p>
    </footer>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required:false)
</body>

</html>
