@inject LanguageService Language
@{
    ViewData["Title"] = @Language.GetKey("PrivacyPolicy");
}
<style>
    .dot:before {
        content: "\2022";
        margin-right: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">@Language.GetKey("PrivacyTitle")</h2>

            <p>@Language.GetKey("PrivacyDesc")</p>

            <h3>@Language.GetKey("Privacy1Heading")</h3>
            <p>@Language.GetKey("Privacy1Paragraph")</p>

            <h3>@Language.GetKey("Privacy2Heading")</h3>
            <p>@Language.GetKey("Privacy2Paragraph")</p>
            <p>
                @Language.GetKey("Privacy2ParagraphListBeginning")
                <ul>
                    <li class="dot">@Language.GetKey("Privacy2ParagraphList1")</li>
                    <li class="dot">@Language.GetKey("Privacy2ParagraphList2")</li>
                    <li class="dot">@Language.GetKey("Privacy2ParagraphList3")</li>
                </ul>
            </p>

            <h3>@Language.GetKey("Privacy3Heading")</h3>
            <p>
                @Language.GetKey("Privacy3ParagraphListBeginning")
                <ul>
                    <li class="dot">@Language.GetKey("Privacy3ParagraphList1")</li>
                    <li class="dot">@Language.GetKey("Privacy3ParagraphList2")</li>
                    <li class="dot">@Language.GetKey("Privacy3ParagraphList3")</li>
                    <li class="dot">@Language.GetKey("Privacy3ParagraphList4")</li>
                    <li class="dot">@Language.GetKey("Privacy3ParagraphList5")</li>
                </ul>
            </p>

            <h3>@Language.GetKey("Privacy4Heading")</h3>
            <p>@Language.GetKey("Privacy4Paragraph")</p>

            <h3>@Language.GetKey("Privacy5Heading")</h3>
            <p>@Language.GetKey("Privacy5Paragraph")</p>

            <h3>@Language.GetKey("Privacy6Heading")</h3>
            <p>
                @Language.GetKey("Privacy6ParagraphListBeginning")
                <ul class="list-group">
                    <li class="dot">@Language.GetKey("Privacy6ParagraphList1")</li>
                    <li class="dot">@Language.GetKey("Privacy6ParagraphList2")</li>
                    <li class="dot">@Language.GetKey("Privacy6ParagraphList3")</li>
                    <li class="dot">@Language.GetKey("Privacy6ParagraphList4")</li>
                    <li class="dot">@Language.GetKey("Privacy6ParagraphList5")</li>
                    <li class="dot">@Language.GetKey("Privacy6ParagraphList6")</li>
                </ul>
            </p>

            <h3>@Language.GetKey("Privacy7Heading")</h3>
            <p>@Language.GetKey("Privacy7Paragraph1")</p>
            <p>@Language.GetKey("Privacy7Paragraph2")</p>

            <h3>@Language.GetKey("Privacy8Heading")</h3>
            <p>@Language.GetKey("Privacy8Paragraph")</p>

            <h3>@Language.GetKey("Privacy9Heading")</h3>
            <p>@Language.GetKey("Privacy9Paragraph")</p>
        </div>
    </div>
</div>