@page
@model AccessDeniedModel
@{
    ViewData["Title"] = @WebsiteTexts.GetValue("NoAccess");
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel red darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        <p>@WebsiteTexts.GetValue("NoAccessText")</p>
        <div class="row">
            <div class="col s8 offset-s2">
                <a href="/" class="btn waves-effect left">@WebsiteTexts.GetValue("Home")</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post">
                    <button type="submit" class="btn waves-effect right">@WebsiteTexts.GetValue("Logout")</button>
                </form>
            </div>
        </div>
    </div>
</div>