@model SmellIt.Application.SmellIt.HomeBanners.Commands.EditWebsiteText.EditWebsiteTextCommand

@{
    ViewData["Title"] = language.GetValue("EditLayoutText");
}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card grey darken-3 white-text">
                <div class="card-content">
                    <div class="row">
                        <div class="card-title col s12">
                            <a class="btn left" asp-controller="WebsiteTexts" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
                            <p class="right">@language.GetValue("EditLayoutText") @Model.Key</p>
                        </div>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="helper-text"></div>
                            <div class="input-field col s12">
                                <label asp-for="TextPL">(PL) @language.GetValue("Text")</label>
                                <textarea class="materialize-textarea" asp-for="TextPL"></textarea>
                                <span asp-validation-for="TextPL" class="helper-text"></span>
                            </div>
                            <div class="input-field col s12">
                                <label asp-for="TextEN">(EN) @language.GetValue("Text")</label>
                                <textarea class="materialize-textarea" asp-for="TextEN"></textarea>
                                <span asp-validation-for="TextEN" class="helper-text"></span>
                            </div>
                            <input type="submit" value="@language.GetValue("Save")" class="btn right" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}